includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
        - vendor/sopamo/clustercache/package/src
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    scanFiles:
      - _ide_helper_models.php